<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <nav>
            <h1>Welcome to Islem Apps</h1>
        </nav>
    </header>
    <main>
        <section class="content">
            {% block content %}
            <!-- This space will be filled by the content of child templates -->
            {% endblock %}
        </section>
    </main>
    <footer>
        <p>&copy; <span id="current-year"></span> Islem Dashboard | <span id="current-month"></span></p>
    </footer>
    
    <script>
        // JavaScript to set the current year and month dynamically
        const currentDate = new Date();
        const currentYear = currentDate.getFullYear();
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        const currentMonth = months[currentDate.getMonth()];
        
        document.getElementById("current-year").textContent = currentYear;
        document.getElementById("current-month").textContent = currentMonth;
    </script>
</body>
</html>
